body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Clients {
  width: 100%;
  border-collapse: collapse;
}

.Clients th,
.Clients td {
  border: 1px solid #000;
}

.Clients td.active {
  background-color: #28a745;
}

.Clients td.blocked {
  background-color: #DC3545;
}
